LTspice/A1/*.raw
LTspice/A1/*.csv
LTspice/A1/*.txt
LTspice/A1/*.log
LTspice/A1/*.zip
LTspice/A1/*.net

LTspice/A2/*.raw
LTspice/A2/*.csv
LTspice/A2/*.txt
LTspice/A2/*.log
LTspice/A2/*.zip
LTspice/A2/*.net

LTspice/A3/*.raw
LTspice/A3/*.csv
LTspice/A3/*.txt
LTspice/A3/*.log
LTspice/A3/*.zip
LTspice/A3/*.net

LTspice/A4/*.raw
LTspice/A4/*.csv
LTspice/A4/*.txt
LTspice/A4/*.log
LTspice/A4/*.zip
LTspice/A4/*.net

LTspice/A6/*.raw
LTspice/A6/*.csv
LTspice/A6/*.txt
LTspice/A6/*.log
LTspice/A6/*.zip
LTspice/A6/*.net
